<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae dolorem a blanditiis sapiente nam dolorum atque voluptatum, ut nesciunt, quasi quo cupiditate reiciendis accusantium mollitia vel sunt harum illo? Incidunt.</p>
    </div>
</section>