<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome back <\User\> </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla deleniti tempore quia sit quibusdam reprehenderit?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime earum nemo maiores nam consectetur, voluptatibus consequuntur veritatis quidem ipsum distinctio.</p>
    <a href="#" class="btn btn-primary">Hello!</a>
</div>