{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show position-absolute bottom-0 alert-msg" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>{{error}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}}