<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tasks Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {{#if user}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {{/if}}
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/account">Account</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/signin">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/signup">Sign up</a>
        </li>
        {{/if}}
      </ul>
      {{#if user}}
      <form action="/tasks/search" method="POST" class="d-flex">
        <input id="search_bar" class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button id="search_button" class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {{/if}}
    </div>
  </div>
</nav>